# This requirements file is used to build the documentation at
# https://uplink.readthedocs.io/. This file will become unnecessary after RTD
# adds support for Pipfiles: https://github.com/rtfd/readthedocs.org/issues/3181

aiohttp
marshmallow
requests
twisted
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
